* {
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	min-width: 1366px;
	height: 70px;
	background-color: #222222;
	position: fixed;
	z-index: 3;
}

#nav {
	width: 1020px;
	height: 70px;
	margin: auto;
	background-color: rgba(256,256,256,0.1);
	padding-left: 20px;
}

.navbut {
	height: 100%;
	width: 150px;
	font-size: 30px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}

/*.navbut:hover {
	background-color: rgb(15,15,15);
}*/

.navbut a {
	position: absolute;
	text-decoration: none;
	color: white;
	line-height: 70px;
} 

#but1 a{
	left: 27%;
}

#but2 a{
	left: 20%;
}

#but3 a{
	left: 20%;
}

#but4 a{
		left: 30%;
}

.sep {
	width: 1px;
	height: 50px;
	margin-top: 10px;
	background-color: black;
	display: inline-block;
	position: absolute;
	cursor: normal;
	margin-right: 5px;
}

#logo {
	float: right;
	display: inline-block;
	width: 65px;
	height: 65px;
	margin-top: 10px;
	margin-right: 40px;
}

.back {
	background-color: #FFF8A6;
	width: 100%;
}

#fback {
	min-height: 1885px;
}

#qback {
	min-height: 3000px;
}

#iback {
	min-height: 643px;
}

#hback {
	min-height: 3700px;
}