#overskr {
	text-align: center;
	font-family: Times;
	display: inline-block;
	position: relative;
	top: 120px; left: 40.5%;
	font-size: 70px;
	margin-bottom: 20px;
}

.sidesep {
	width: 90%;
	height: 2px;
	background-color: #333333;
	position: absolute;
	clear: both;
	left: 5%;
}

#sep1 {
	top: 260px;
}

#sep2 {
	top: 390px;
}

#img1 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 80px;
	position: absolute;
	left: 20px;
}

#img2 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 80px;
	position: relative;
	float: right;
	right: 20px;

}

#textbox {
	position: absolute;
	width: 80%;
	min-height: 50px;
	left: 10%;
	top: 300px;
}

#explenation {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.underov {
	font-size: 35px;
	text-align: center;
	position: absolute;
	top: 460px;
	left: 34.5%;
}

#formel {
	font-size: 32px;
	top: 505px;
	font-weight: 500;
	left: 42%;
}

#formel_strmstyrke {
	top: 570px;
	position: absolute;
	left: 36%;
}

.field {
	height: 30px;
	width: 230px;
	font-size: 20px;
}

span {
	font-weight: 700;
	font-size: 25px;
}

#sub1 {
	width: 150px;
	height: 45px;
	top: 780px; left: 39%;
	position: absolute;
	font-size: 25px;
}