#overskr {
	text-align: center;
	font-family: Times;
	display: inline-block;
	position: relative;
	top: 120px; left: 40.5%;
	font-size: 70px;
	margin-bottom: 20px;
}

#back {
	min-height: 1885px;
}

.sidesep {
	width: 90%;
	height: 2px;
	background-color: #333333;
	position: absolute;
	clear: both;
	left: 5%;
}

#sep1 {
	top: 260px;
}

#sep2 {
	top: 390px;
}

#sep3 {
	top: 885px;
}

#sep4 {
	top: 1370px;
}

#sep5 {
	top: 1855px;
}

#img1 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 80px;
	position: absolute;
	left: 20px;
}

#img2 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 80px;
	position: relative;
	float: right;
	right: 20px;

}

#img3 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 420px;
	position: absolute;
	left: 20px;
}

#img4 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 420px;
	position: absolute;
	float: right;
	right: 20px;

}

#img5 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 640px;
	position: absolute;
	left: 20px;
}

#img6 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 640px;
	position: absolute;
	float: right;
	right: 20px;
}

#img7 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 905px;
	position: absolute;
	left: 20px;
}

#img8 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 905px;
	position: absolute;
	float: right;
	right: 20px;

}

#img9 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 1125px;
	position: absolute;
	left: 20px;
}

#img10 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 1125px;
	position: absolute;
	float: right;
	right: 20px;
}

#img11 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-left: 30px;
	top: 1390px;
	position: absolute;
	float: right;
	right: 20px;
}

#img12 {
	display: inline-block;
	width: 400px;
	height: 200px;
	margin-right: 30px;
	top: 1600px;
	position: absolute;
	left: 20px;
}

#textbox {
	position: absolute;
	width: 80%;
	min-height: 50px;
	left: 10%;
	top: 300px;
}

#explenation {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.underov {
	font-size: 35px;
	text-align: center;
	position: absolute;
	top: 460px;
	left: 34.5%;
}

#uo2 {
	top: 945px;
	left: 37%;
}

#uo3 {
	top: 1430px;
	left: 35.5%;
}

#formel {
	font-size: 32px;
	top: 505px;
	font-weight: 500;
	left: 42%;
}

#formel2 {
	top: 990px;
	font-size: 32px;
	font-weight: 500;
	left: 40%;
}

#formel3 {
	top: 1475px;
	font-size: 32px;
	font-weight: 500;
	left: 41%;
}

#formel_strmstyrke {
	top: 570px;
	position: absolute;
	left: 36%;
}

#formel_effekt {
	top: 1055px;
	position: absolute;
	left: 36%;
}

#formel_resistans {
	top: 1540px;
	position: absolute;
	left: 36%;
}

.field {
	height: 30px;
	width: 230px;
	font-size: 20px;
}

span {
	font-weight: 500;
	font-size: 25px;
}

#sub1 {
	width: 150px;
	height: 45px;
	top: 780px; left: 39%;
	position: absolute;
	font-size: 25px;
}

#sub2 {
	width: 150px;
	height: 45px;
	top: 1265px; left: 39%;
	position: absolute;
	font-size: 25px;
}

#sub3 {
	width: 150px;
	height: 45px;
	top: 1750px; left: 39%;
	position: absolute;
	font-size: 25px;
}