#hometitle {
	position: absolute;
	text-align: center;
	top: 130px;
	font-size: 57px;
	left: 0; right: 0;
	margin: auto;
	font-family: Times;
	font-weight: 700;
	font-style: underline;
}

.sidesep {
	width: 90%;
	height: 2px;
	background-color: #333333;
	position: absolute;
	clear: both;
	left: 5%;
}

#sep1 {
	top: 250px;
}

#sitecon {
	position: absolute;
	width: 60%;
	left: 0; right: 0;
	margin: auto;
	top: 300px;
	font-size: 30px;
	text-align: center;
	z-index: 2;
}

#fimg {
	position: absolute;
	right: 15px;
	width: 15%;
	top: 300px;
	z-index: 1;
}